name: project0
# either manually started, or on a schedule
on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *' # At 4:00 UTC everyday
jobs:

  install:
    env:
        MAGIC_VERSION:          8.3.209

    # ubuntu
    runs-on: ubuntu-latest
    steps:

    # checkout the repo to get the scripts
    - uses: actions/checkout@v2

    # dependencies we can install from package manager
    - name: install deps
      run: sudo apt-get install -y tcsh csh tcl-dev tk-dev libcairo2-dev

    # magic dependency
    - name: install magic
      run: bash ${GITHUB_WORKSPACE}/.github/scripts/install_magic.sh

    # test
    - name: test magic
      run: magic --version

    # build the user project and wrapper
    - name: test toolchain
      run: |
        cd $HOME
        git clone -b mpw-5a https://github.com/efabless/caravel_user_project.git
        cd caravel_user_project/
        make install
        make install_mcw
        export OPENLANE_ROOT=$HOME/openlane
        make openlane
        export PDK_ROOT=$HOME/pdk
        make pdk-with-sram
        make simenv
        make verify-io_ports

