name: project0
# either manually started, or on a schedule
on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *' # At 4:00 UTC everyday
jobs:

  install:
    env:
        OPENLANE_ROOT:  /home/runner/openlane
        PDK_ROOT:       /home/runner/pdk
        PDK:            sky130A

    # ubuntu
    runs-on: ubuntu-latest
    steps:

    # checkout the repo to get the scripts
    - uses: actions/checkout@v2

    # build the user project and wrapper
    - name: pdk & openlane
      run: |
        cd $HOME
        git clone -b mpw-6c https://github.com/efabless/caravel_user_project.git
        cd caravel_user_project/
        make setup

    - name: user project wrapper GDS
      run: |
        cd $HOME/caravel_user_project
        make user_project_wrapper

    - name: simulation
      run: |
        cd $HOME/caravel_user_project
        make verify-io_ports-rtl

    - name: precheck
      run: |
        cd $HOME/caravel_user_project
        rm README.md
        touch README.md
        make precheck
        make run-precheck

    # archive the gds and final report for the user project wrapper
    - name: Archive Wrapper GDS
      uses: actions/upload-artifact@v2
      with:
          name: Wrapper GDS
          path: /home/runner/caravel_user_project/gds/user_project_wrapper.gds

    - name: Archive Wrapper Signoff
      uses: actions/upload-artifact@v2
      with:
          name: Wrapper Report
          path: /home/runner/caravel_user_project/openlane/user_project_wrapper/runs/user_project_wrapper/reports/final_summary_report.csv
