name: project0
# either manually started, or on a schedule
on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *' # At 4:00 UTC everyday
jobs:

  install:
#    env:
#        MAGIC_VERSION:          8.3.209
        OPENLANE_ROOT:  /home/runner/openlane
        PDK_ROOT:       /home/runner/pdk

    # ubuntu
    runs-on: ubuntu-latest
    steps:

    # checkout the repo to get the scripts
    - uses: actions/checkout@v2

    # build the user project and wrapper
    - name: pdk & openlane
      run: |
        cd $HOME
        git clone -b mpw-5c https://github.com/efabless/caravel_user_project.git
        cd caravel_user_project/
        make setup

    - name: user project wrapper GDS
      run: |
        cd $HOME/caravel_user_project
        make user_project_wrapper

    - name: simulation
      run: |
        cd $HOME/caravel_user_project
        make verify-io_ports-rtl

    - name: precheck
      run: |
        cd $HOME/caravel_user_project
        echo 'not default' >> README.md
        make precheck
        make run-precheck
